.menubar.footer-3col {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  font-size: 14px;
  z-index: 999;
  /* border-top: 1px solid #ccc; */
  padding-right: 0px;
  font-size: 0.5em;
  gap: 0em;
}

.footerbar.footer-3col {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  font-size: 14px;
  /* z-index: 999; */
  /* border-top: 1px solid #ccc; */
  padding-right: 0px;
  font-size: 0.5em;
  gap: 0em;
}

.footer-col {
  flex: 1;
  text-align: center;
  padding: 6px 12px;
}

/* Assign different background/text colors */
.col-uni {
  background-color: #191959; /* light blue */
  color: #ffffff;
}

.col-copy {
  background-color: #262686; /* light pink */
  color: #ffffff;
}

.col-date {
  background-color: #3333b2; /* light green */
  color: #ffffff;
}

/* Outline bullets */
.outline-list {
  list-style-type: disc;
  /* list-style: none; */
  padding: 0;
  margin: 0;
  font-size: 24px;
  text-align: left;
  color: #3333b2;
  /* color: linear-gradient(to right, #000000, #ef0000); */
  padding-left: 20px;
}

.outline-list li {
  margin: 12px 0;
  /* width: 20px;
  height: 20px;
  border-radius: 50%;
  /* display: inline-block; */
  /* margin: 5px; */
  /* background-image: radial-gradient(circle at center, red, yellow); */
}

.outline-list li a {
  /* color: #ff0000; */
  text-decoration: none;
  font-weight: bold;
}

.outline-list li a:hover {
  text-decoration: underline;
}

.title-parent {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  align-items: center;
  /* padding: 1px; */
  /* gap: 1rem; */
  text-align: center;
  width: 100vw;
  /* height: auto; */
  /* height: 95vh; */
  height: 94vh;
}
.title-scrollable-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  /* overflow-x: auto; */

  /* padding: 1rem; */
}

/* Headings span full width */
.title-seminar-heading {
  width: 100%;
}

.title-seminar-title {
  width: 85%;
}

/* Author and side sections */
.title-author {
  display: flex;
  /* flex-direction: column-reverse; */
  align-items: center;
  gap: 5px;
}

/* Layout for QR, author content, and logo */
.title-author-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

/* QR left */
.title-author-left {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Center author block */
.title-author {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-self: center;
}

/* Empty right block (for symmetry or future content) */
.title-author-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Optional adjustments */
.logo-title {
  max-width: clamp(100px, 10vw, 200px) !important;
  height: auto;
}

.qr-code {
  max-width: 100px;
  height: auto;
}

.button-container-firstpage {
  display: flex;
  gap: 20px;
}

.button-container-firstpage a {
  padding: 12px 24px;
  font-size: 3rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  background-color: #4c4cd7;
  color: white;
  transition: background-color 0.3s ease;
}

.firstpage {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.topbar-title {
  background-color: #1a237e;
  color: white;
  padding: 10px 20px;
  text-align: left;
  width: 100vw;
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-24 11:11:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}

th {
  background-color: #003366;
  color: white;
  padding: 10px;
  font-weight: bold;
}

td {
  padding: 10px;
  color: #000;
}

tr:nth-child(even) {
  background-color: #e6f2ff;
}

tr:nth-child(odd) {
  background-color: #f5faff;
}

table,
th,
td {
  border: 1px solid #ccc;
}

.flip-card {
  /* background-color: blue; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  /* background-color: blue; */
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  transform: rotateX(180deg);
}

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.flip-2-hor-top-1.visible {
  -webkit-animation: flip-2-hor-top-1 0.5s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}


@-webkit-keyframes flip-2-hor-top-1 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
    transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes flip-2-hor-top-1 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
    transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

mark {
  color: red;
  background-color: transparent;
}
